[Desktop Entry]
Version=1.0
Type=Application
Name=Hero Fighter
Comment=Hero Fighter v0.7
Icon=hf_48x48.png
Exec=./hf.sh
Path=.
NoDisplay=false
Categories=Game;
StartupNotify=true
Terminal=false
